@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --color: #571BC3;
    --bgColor: #000;
    --animSpeed: 3s;
    --textWrapWidth: 380px;
    --barWidth: 10px;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: var(--bgColor);
}

.container {
    position: relative;
    width: var(--textWrapWidth);
    height: calc(var(--textWrapWidth) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .glow-text {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    text-shadow:  0 0 10px var(--color),
                  0 0 20px var(--color),
                  0 0 40px var(--color),
                  0 0 80px var(--color),
                  0 0 120px var(--color);
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--barWidth);
    height: 100%;
    border-radius: 10px;
    background: #fff;
    z-index: 100;
    box-shadow:  0 0 10px var(--color),
                 0 0 20px var(--color),
                 0 0 40px var(--color),
                 0 0 80px var(--color),
                 0 0 120px var(--color);
    animation: animateBar var(--animSpeed) linear infinite;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bgColor);
    z-index: 50;
    animation: animateLayer calc(var(--animSpeed) * 2) linear infinite;
}

@keyframes animateBar {
    0%, 5% {
        transform: scaleY(0)  translateX(0);
    }
    10% {
        transform: scaleY(1)  translateX(0);
    }
    90% {
        transform: scaleY(1)  translateX(calc(var(--textWrapWidth) - var(--barWidth)));
    }
    95%, 100% {
        transform: scaleY(0)  translateX(calc(var(--textWrapWidth) - var(--barWidth)));
    }
}

@keyframes animateLayer {
    0%, 2.5% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(100%);
    }
    47.5%, 50% {
        transform: translateX(100%);
    }
    50.001%, 52.5% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0%);
    }
    97.5%, 100% {
        transform: translateX(0%);
    }
}